<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test thread-count="5" name="ChromeTest">
  	<parameter name="browserName" value="chrome"></parameter>
  	<parameter name="ITO" value="10"></parameter>
  	<parameter name="ETO" value="10"></parameter>
  	
    <classes>
      <class name="com.google.gmail.testscripts.TC001"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
